messenger:
    debug:
        panel: %debugMode%

    serializer:
        default: Symfony\Component\Messenger\Transport\Serialization\PhpSerializer


    logger:
        httpLogger: Psr\Log\NullLogger

    # Defines transport factories.
    transportFactory:

    failureTransport: failed

    # Define transports (async or sync)
    transport:

        sync:
            dsn: sync://

        failed:
            dsn: sync://

    routing:
        YourProjectName\Core\Domain\Messages\LogMessage: [sync]
services:
    - YourProjectName\Core\Domain\Handlers\LogHandler
